{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="form-container">
        <h2 class="form-header">Thêm Sản Phẩm Mới</h2>
        <form method="post" enctype="multipart/form-data" class="product-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="product_name">Tên Sản Phẩm:</label>
                <br>
                <input type="text" class="form-control" id="product_name" name="product_name" required>
            </div>
            <div class="form-group">
                <label for="price">Giá:</label>
                <br>
                <input type="number" class="form-control" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="description">Mô tả:</label>
                <br>
                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="image">Ảnh Sản Phẩm:</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary">Thêm Sản Phẩm</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
