{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="product-grid">
    {% for item in products_with_discount %}
    <div class="product-card">
        <a href="{% url 'product_detail' item.product.pk %}">
            {% if item.product.image %}
                <img src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}">
            {% endif %}
            <h3>{{ item.product.product_name }}</h3>
            {% if show_promo and item.discounted_price %}
                <p class="price">
                    <span style="text-decoration: line-through;">{{ item.product.price }} VND</span>
                    <span style="color: red;">{{ item.discounted_price }} VND</span>
                </p>
            {% else %}
                <p class="price">{{ item.product.price }} VND</p>
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}